@model string[]

@{
    ViewData["Title"] = "Create a new account";
}

<style>
</style>

<head style="color:red">
    <h2></h2>
</head>

<div class="text-center">
    <h1 class="display-4">Create a new library account.</h1>

    @using (Html.BeginForm("CreateAccount", "Home", FormMethod.Post))
    {
        <table>
            <tr><th>Enter your user </th><th>information below</th></tr>
            <tr>
                <td>Username</td>
                <td>@Html.TextBoxFor(x => x[0])</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Html.TextBoxFor(x => x[1])</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>@Html.TextBoxFor(x => x[2])</td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
                <td></td>
            </tr>
        </table>
    }

</div>
